<ion-view>
  <ion-nav-title> 
     <img class="animated animated10s pulse header-title" src="img/title.png"> </img>
      <!-- Button share via Whatsapp -->
     <div class="whatsAppButton" onclick="window.plugins.socialsharing.shareViaWhatsApp('Descarga la app preferida de eventos y planes para niños en tu ciudad:', null /* img */, 'https://www.peque-agenda.com/app' /* url */, function() {
      console.log('share ok')
    }, 
      function(errormsg){
        alert(errormsg) })">      
       <i class="animated animated10s tada ion-social-whatsapp">  </i>
     </div>



  </ion-nav-title>
  <ion-content>
  	<!-- Container of all the content in mAPcoNTROLLER -->
  	<div id="map-container" ng-controller="MapController"> 
  	<!-- Button of geolocating user -->
  	<div class="centerOnMe" ng-click="centerOnMe()">
			  <i class="ion-navigate"></i>
		</div> 
  	<!--Search box --> 
  	 <div class="animated slideInDown search-container">
        <div class="search-box">
            <div class="search-icon" ng-hide="showDeleteSearchInput"> <i class="ion-ios-search-strong icon-2x"></i></div>
            <div class="close-icon" ng-show="showDeleteSearchInput" ng-click="deleteSearch()"> <i class="ion-ios-close icon-2x"></i></div>
                <input id="searchString" type="text" placeholder="Busca eventos cerca de ti..." class="search-input" ng-model="searchString" ng-change="onSearchChange()"/>
                    <ul id="results" class="search-results" ng-show="showSearchResults"></ul>
        </div>
    </div>
  		<!-- Map -->
      <div data-tap-disabled="true">
	       <div id="map" class="map">  </div> 
      </div>
		<!--Bottom Info Window with events --> 
		<div id="main-container" class="animated slideInUp ng-show ng-hide event-container">
			<div id="main-bounce" class="animated bounce animated10s ion-chevron-up flecha-mid ng-show ng-hide"> </div>
      <div class="event-slide"> </div>
			<div ng-click="closeInfo()" class="button-container-close">
				<button class="button-close"> X </button> </div>
			<div class="animated fadeIn" id="botInfW"> </div>
    </div>
	</div>
  </ion-content>
</ion-view>

