<ion-view>
  <ion-nav-title>
    <i class="ion-ios-location"> </i> <h4> Evento </h4>
  </ion-nav-title>
  <ion-content>
      <!-- Button of geolocating user -->
    <div class="centerOnMe" ng-click="showHide()">
        <i class="ion-images"></i>
    </div> 
    <div id="map1" class="map2" ng-show="ShowUp"></div>
    <div id="eventoDetalle"> 
  </div>
  </ion-content>
</ion-view>
