<ion-tabs class=" tabs-positive tabs-icon-top tabs-color-active-light">
  <!-- Hoy Tab -->
  <ion-tab title="Hoy" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/hoy">
    <ion-nav-view name="tab-hoy"></ion-nav-view>
  </ion-tab> 
  
  <!-- Mapa Tab -->
  <ion-tab title="Mapa" icon-off="ion-map" icon-on="ion-map" href="#/tab/mapa">
    <ion-nav-view name="tab-mapa"></ion-nav-view>
  </ion-tab>

  <!-- Cerca de ti Tab -->
  <ion-tab title="Cerca de ti" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/cercadeti">
    <ion-nav-view name="tab-cercadeti"></ion-nav-view>
  </ion-tab>




</ion-tabs>
