<ion-view>
<ion-nav-title> 
    <div style="left:0;position: absolute;font-size:2em;"> 
      <i class="ion-ios-refresh-empty" ng-click="doRefresh()"> </i> 
    </div>
	<i class="ion-location"> </i> <h4> CERCA DE TI </h4>
	 <!-- Button share via Whatsapp -->
     <div class="whatsAppButton" onclick="window.plugins.socialsharing.shareViaWhatsApp('Descarga la app preferida de eventos y planes para niños en tu ciudad:', null /* img */, 'https://www.peque-agenda.com/app' /* url */, function() {
      console.log('share ok')
    }, 
      function(errormsg){
        alert(errormsg) })">      
       <i class="animated animated10s tada ion-social-whatsapp">  </i>
     </div>


</ion-nav-title>
    <ion-content>
    <ion-refresher
    pulling-text="Este proceso puede durar un poco, se paciente"
    on-refresh="doRefresh()">
    </ion-refresher>
 	<div id="container-columns"> 
    <div class="columns" id="columns">
    </div> </div>
   </ion-content>
</ion-view>

