/* Empty. Add your own CSS if you like */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Map container width and height */
.map {
    width: 100%;
    height: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.flecha-mid {
    border-radius: 10px;
    margin-top: -35px;
    color: #886aea;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    z-index: 999;
    position: absolute;
    margin-left: 50%;
}
.map2 {
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.header-title {
    width: 170px;
    margin: 5px;
    z-index: 1;
}
.overflow-scroll > .scroll {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 92%;
}
.scroll {
    height:100%;
}
.shareEvent {
    background-color: #fdfdfd;
    font-size: 15px;
    color: #505050;
    padding: 7px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dedede;
    font-family: 'Roboto';
}

/* Button for geolocating USER */

.centerOnMe {
    top: 70px;
    right: 10px;
    position: absolute;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background-color: white;
    width: 27px;
    padding-top: 3px;
    height: 27px;
    border-radius: 2%;
}
.whatsAppButton {
    top: -5px;
    right: 0px;
    position: absolute;
    z-index: 999;
    width: 40px;
    padding-top: 3px;
    height: 40px;
    border-radius: 2%;
}
.icon-2x {
    font-size: 1.3em !important;
    color: #666666;
}
.icon-2x:hover {
    font-size: 1.3em !important;
    color: black;
}
.ion-navigate {
    font-size: 1.4em !important;
    top: 5px;
    right: 5px;
    position: absolute;
    color: #666666;
}
.ion-navigate:hover {
    font-size: 1.5em !important;
    color: black;
}
.ion-images {
    font-size: 1.4em !important;
    top: 5px;
    right: 5px;
    position: absolute;
    color: #666666;
}
.ion-images:hover {
    font-size: 1.5em !important;
    color: black;
}
.ion-social-whatsapp {
    font-size: 1.3em !important;
    top: 5px;
    right: 5px;
    position: absolute;
    color: #fff;
}
.ion-social-whatsapp:hover {
    font-size: 1.35em !important;
    color: #fff;
}
.icon-stack .icon-stack-base {
    text-shadow: 0px 2px 2px #ccc;
}
.button-container-close {
    width: 20%;
    height: 20%;
    right: 0;
    position: absolute;
    z-index: 99;
}
.ion-map::hover {
    font-size: 3em !important;
}
.ion-location::hover {
    font-size: 3em !important;
}
/* Different style in header bar */

.bar-dark {
    background: linear-gradient(to left, #4776E6, #8E54E9) !important;
}
.tabs-positive {
    background: linear-gradient(to left, #D31027, #EA384D) !important;
}
.button-share {
    background: linear-gradient(to left, #4776E6, #8E54E9) !important;
}
.ion-tabs.tabs-color-active-light .tab-item {
    color: #e8e8e8 !important;
}
.ion-tabs.tabs-color-active-light .tab-item {
    color: #e8e8e8 !important;
}
.tab-item-active {
    border-bottom-width: 2px;
    border-style: solid;
    border-color: white;
}
/* Image in nav */

.nav-title-agenda {
    margin-top: 5px;
    margin-left: 10px;
    width: 170px;
}
/* LOGIN PAGE CSS */

.header-login-bar {
    background-color: #222222;
    padding-top: 15px;
    padding-left: 36%;
}
/*
.item-input {
  background-color:#2f2f2f;
}
*/

.item-login {
    border-color: #444;
    border-width: 1px;
    border-style: solid;
    background-color: #2f2f2f;
}
.title-login-bar {
    font-family: 'Montserrat';
    font-size: 12px;
    color: white;
    display: inline;
    position: absolute;
    left: 140px;
    top: 15px;
}
h4 {
    font-family: 'Montserrat';
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    width: 10%;
    display: inline;
}
.omg {
    padding-top:100px;
}
.button-colorfull {
    color: #fff;
    background: linear-gradient(to left, #00dcff, #8964e0);
    border-width: 0px;
}
.button-colorfull:hover {
    font-size: 16.3px;
}
.button-login-close-right {
    min-height: 31px;
    position: absolute;
    left: 10px;
    top: 5px;
    line-height: 32px;
    font-size: 15px !important;
    font-family: 'Montserrat' !important;
    color: white !important;
}
.button-login-close {
    padding-right: 2px;
    padding-left: 2px;
    font-family: 'Montserrat' !important;
    font-weight: 0;
}
/*Border radius to centeronme box */

.ion-stop {
    border-radius: 15%;
}
/*Bottom container */

.event-container {
    background-color: white;
    border-width: 0;
    border-radius: 5px;
    display: inline;
    position: absolute;
    padding-left: 0px;
    padding-right: 6px;
    padding-bottom: 10px;
    z-index: 999;
    width: 100%;
    height: 14%;
    bottom: 0;
}
.event-box {
    width: 95%;
    position: absolute;
    background-color: #D5D5D5;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.event-slide {
    background-color: #D5D5D5;
    width: 8%;
    height: 5px;
    border-radius: 10px;
    margin-top: 4px;
    margin-left: 50%;
}
#extreme-padding {
    padding-left: 30px;
    color: grey;
}
.bottomImgEvents {
    width: 100%;
    height: 200%;
    border-radius: 0;
    float: left;
    object-fit: cover;
    position: absolute;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
}
.bottomTitleEvents {
    background: linear-gradient(to left, #4776E6, #8E54E9) !important;
    width: 105%;
    margin-top: 5px;
    /* padding-left: 25%; */
    font-family: 'Amatic SC';
    font-size: 23px;
    font-weight: bolder;
    color: white;
}
.bottomContentEvents {
    margin-top: 45%;
    font-size: 12px;
    text-align: justify;
    /* margin-left: 25%; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #565656;
}
.button-close {
    position: absolute;
    right: 0;
    margin-right: 6px;
    z-index: 999;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: white;
    font-size: 12px;
    background-color: #cfcfcf;
    border-width: 0px;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}
.button-close:hover {
    font-size: 13px;
}
hr {
    width: 90%;
    opacity: 0.3;
}
/* --- Buscador de eventos --- */

.search-container {
    border-width: 0;
    color: #567fb3;
    display: inline;
    position: fixed;
    z-index: 999;
    width: 80%;
    margin: 10px;
}
.search-box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    height: 43px;
    color: #567fb3;
    position: relative;
}
.search-icon {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 10px;
    height: 44px;
    color: #567fb3;
    font-size: 1.2em;
    padding: 10px 10px;
    display: inline;
}
.close-icon {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 10px;
    height: 44px;
    cursor: pointer;
    color: #567fb3;
    font-size: 1.2em;
    padding: 10px 10px;
    display: inline;
}
.search-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    left: 25px;
    font-size: 10px;
    color: red;
    margin-left: 10px;
    margin-top: 4px;
    height: 30px;
    float: right;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    position: absolute;
}
.search-results {
    list-style: none;
    margin: 1px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
    height: auto;
    top: 48px !important;
    left: 0px;
    text-align: left;
    display: inline-block;
}
.search-results li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    color: #666666;
    height: auto;
    border-radius: 2px;
    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
}
.search-results li:hover {
    color: black;
}
.imageUl {
    right: 0;
    margin: 0 auto;
    float: right;
    width: 20px;
    display: inline;
    position: relative;
}
@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.334em) translateZ(0);
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.334em) translateZ(0);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.334em) translateZ(0);
        -moz-transform: translateY(-1.334em) translateZ(0);
        -ms-transform: translateY(-1.334em) translateZ(0);
        -o-transform: translateY(-1.334em) translateZ(0);
        transform: translateY(-1.334em) translateZ(0);
    }
    100% {
        opacity: 1;
    }
}

.search-results li:nth-child(1) {
    /* Animation */
    
    -webkit-animation: fadeInTop 0.4s 0s forwards;
    animation: fadeInTop 0.4s 0s forwards;
    opacity: 0;
}
.search-results li:nth-child(2) {
    /* Animation */
    
    -webkit-animation: fadeInTop 0.4s 0.1s forwards;
    animation: fadeInTop 0.4s 0.1s forwards;
    opacity: 0;
}
.search-results li:nth-child(3) {
    /* Animation */
    
    -webkit-animation: fadeInTop 0.4s 0.2s forwards;
    animation: fadeInTop 0.4s 0.2s forwards;
    opacity: 0;
}
.search-results li:nth-child(4) {
    /* Animation */
    
    -webkit-animation: fadeInTop 0.4s 0.3s forwards;
    animation: fadeInTop 0.4s 0.3s forwards;
    opacity: 0;
}
.search-results li:nth-child(5) {
    /* Animation */
    
    -webkit-animation: fadeInTop 0.4s 0.4s forwards;
    animation: fadeInTop 0.4s 0.4s forwards;
    opacity: 0;
}
.search-results li:nth-child(6) {
    -webkit-animation: fadeInTop 0.4s 0.5s forwards;
    animation: fadeInTop 0.4s 0.5s forwards;
    opacity: 0;
}

/* --- Eventos con geolocalizacion --- */

.map-button {
    display: none;
    background: linear-gradient(to left, #B3FFAB , #12FFF7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    width: 75px;
    position: absolute;
    margin: 5px;
    border-radius: 8%;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat';
}
.map-button:hover {
    opacity: 0.7;
    -moz-transition: all 0.5s ease 0s;
}

div.columns {
    margin-right: 20px;
    margin-top: 40px;
}
#columns-pictures {
    height: 30vh;
    border-radius: 7px 7px 0px 0px;
    object-fit: cover;
}
div.columns figure {
    background: #fefefe;
    /* border: 2px solid #fcfcfc; */
    
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 3% 15px;
    /* padding: 15px; */
    /* padding-bottom: 10px; */
    
    border-radius: 5px;
    transition: opacity .4s ease-in-out;
    column-break-inside: avoid;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
div.columns figure img {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0 auto;
    -moz-border-radius: 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    padding: 0;
    display: block;
}
figcaption {
    font-size: 12px;
    font-family: 'Roboto';
    text-align: center;
    padding: 6px;
    color: #505050;
}
@media screen and (max-width: 750px) {
    .columns figure {
        width: 100%;
    }
}
}